<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <LINK rel="Bookmark" href="__PUBLIC__/favicon.ico">
    <LINK rel="Shortcut Icon" href="__PUBLIC__/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <script type="text/javascript" src="lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/icheck/icheck.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    </style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span
        class="c-gray en">&gt;</span> 添加课程 <a class="btn btn-success radius r"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-article-add" onsubmit="return ac_from();"
          enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>课程名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width:90%" name="name" id="name" value="{$course.name}" placeholder="请填写课程名称信息">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>课程分类：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:90%">
                    <select name="type_id" class="select" id="type_id">
                        <option value="">课程分类</option>
                        <volist name='list' id="op1">
                            <option value="{$op1.id}" id="cate_{$op1.id}" name="one" <if condition="$op1.id eq $course['venue_branch_id']">selected="selected"</if> >- {$op1.name}</option>
                            <volist name="op1['list2']" id="op2">
                                    <option value="{$op2.id}" id="cate_{$op2.id}"
                                            name="two">&nbsp; &nbsp;- {$op2.name}</option>
                                <volist name="op2['list3']" id="op3">
                                    <option value="{$op3.id}" id="cate_{$op3.id}" name="three">&nbsp; &nbsp;&nbsp; &nbsp;- {$op3.name}</option>
                                </volist>
                            </volist>
                        </volist>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关联分店：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:90%">
                    <select name="venue_branch_id" id="venue_branch_id" class="select">
                        <option value="">分店列表</option>
                        <volist name='venueList' id="venueList">
                                <option value="{$venueList.id}" name="one" <if condition="$venueList.id eq $course['venue_branch_id']">selected="selected"</if> >- {$venueList.name}</option>
                        </volist>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>课程描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="content" value="{$course.content}" class="input-text" placeholder="请填写课程内容描述"
                       style="width:90%">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="price" value="{$course.price}" class="input-text" style="width:90%" placeholder="请填写价格">
                元
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">折扣价：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="discount_price" value="{$course.discount_price}" class="input-text" style="width:90%"
                       placeholder="请填写折扣价格">
                元
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商品图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="main_img" value="">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>详情图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="img" value="">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i
                        class="Hui-iconfont">&#xe632;</i>
                    保存提交
                </button>
                <input type="hidden" name="id" id='id' value="{$course.id}">
                <input type="hidden" name="main_img_id" id='main_img_id' value="{$course.main_img_id}">
                <input type="hidden" name="img_id" id='img_id' value="{$course.img_id}">
                <button id="back" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">

    //验证表单空值
    function ac_from() {
        var name = document.getElementById('name').value;
        if (name.length < 1) {
            alert('课程名称不能为空');
            return false;
        }
        var artist_id = document.getElementById('venue_branch_id').value;
        if (artist_id.length < 1) {
                alert("请选择分店信息");
                return false;
        }
        var unit = document.getElementById("type_id").value;
        if (unit.length < 1) {
            alert("课程分类不能为空");
            return false;
        }
    }
</script>
</body>
</html>